<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.server.mapper.MatchMapper" >

    <select id="getMatchListByMatchTime" parameterType="String" resultType="com.ljzzkkkss.lottery.server.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`halfScore`,`totalScore`,`match`,`round`,`matchTime`,`status` FROM `match`
        WHERE DATE(`matchTime`) = #{matchTime}
        ORDER BY `matchTime` DESC;
    </select>

    <select id="getMatchById" parameterType="Long" resultType="com.ljzzkkkss.lottery.server.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`halfScore`,`totalScore`,`match`,`round`,`matchTime`,`status` FROM `match`
        WHERE `id` = #{id};
    </select>

    <select id="getMatchListNotStart" resultType="com.ljzzkkkss.lottery.server.model.Match">
        SELECT `id`,`mainTeam`,`clientTeam`,`match`,`round`,`matchTime`,`status`
        FROM `match` WHERE `status` = '未开始'
        ORDER BY DATE(`matchTime`),`round`;
    </select>

</mapper>