<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljzzkkkss.lottery.server.mapper.OptionalMapper" >

    <insert id="insertOptional"  useGeneratedKeys="true" keyProperty="id" parameterType="com.ljzzkkkss.lottery.server.model.Optional">
        INSERT INTO `optional`(`userId`,`name`,`optionDate`,`cost`,`status`)
         VALUES (#{userId},#{name},#{optionDate},#{cost},#{status});
    </insert>

    <select id="getOptionalListByUserId" parameterType="Integer" resultType="com.ljzzkkkss.lottery.server.model.Optional">
        SELECT `id`,`name`,DATE_FROMAT(`optionDate`,'%Y-%m-%d %H:%i:%s') `optionDate`,`cost` FROM `optional`
        WHERE `userId` = #{userId}
    </select>

    <select id="getOptionalByOptionalId" parameterType="Integer" resultType="com.ljzzkkkss.lottery.server.model.Optional">
        SELECT `id`,`name`,DATE_FROMAT(`optionDate`,'%Y-%m-%d %H:%i:%s') `optionDate`,`cost` FROM `optional`
        WHERE `id` = #{id}
    </select>
</mapper>