
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>投注确认</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="bettingDetailContainer" id="webpage">
      <div class="headerBettingCountime">截止投注时间 <span class="timeBox">{{deadlineTime}}</span></div>
      <div class="betLotteryInfoLists">
          <div class="betInfoList" v-for="match in selectedMatchList">
            <div class="headerInfoBox flexCenterBetween">
                <div class="matchInfoBox">{{match.match.round}} {{match.match.match}}</div>
                <div class="countryVsInfo flexCenter">
                    <div class="mainIcon">主</div>
                    <div class="countryName">{{match.match.mainTeam}}</div>
                    <div class="vsIcon">VS</div>
                    <div class="countryName">{{match.match.clientTeam}}</div>
                    <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                </div>
            </div>
              <div v-for="(oddList, key) in match.oddList">
                  <div v-for="i in Math.ceil(oddList.length/3)">
                    <div class="detailInfoLists flexCenter">
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor1 flexCenterCenter" v-if="key=='胜负平'">{{key}}</div>
                            <div class="leftTagBox styleColor2 flexCenterCenter" v-if="key.startsWith('让球') && key.indexOf('-') != -1">{{key}}</div>
                            <div class="leftTagBox styleColor3 flexCenterCenter" v-if="key=='总进球'">{{key}}</div>
                            <div class="leftTagBox styleColor4 flexCenterCenter" v-if="key.startsWith('让球') && key.indexOf('-') == -1">{{key}}</div>
                            <div class="leftTagBox styleColor5 flexCenterCenter" v-if="key=='比分'">{{key}}</div>
                            <div class="leftTagBox styleColor6 flexCenterCenter" v-if="key=='半全场'">{{key}}</div>
                            <div class="dataInfoBox" v-if="oddList[0+3*(i-1)]">
                                <div class="dataBox">{{oddList[0+3*(i-1)].content}}</div>
                                <div class="scoreBox">{{oddList[0+3*(i-1)].rate}}</div>
                            </div>
                            <div class="dataInfoBox" v-if="oddList[1+3*(i-1)]">
                                <div class="dataBox">{{oddList[1+3*(i-1)].content}}</div>
                                <div class="scoreBox">{{oddList[1+3*(i-1)].rate}}</div>
                            </div>
                            <div class="dataInfoBox" v-if="oddList[2+4*(i-1)]">
                                <div class="dataBox">{{oddList[2+3*(i-1)].content}}</div>
                                <div class="scoreBox">{{oddList[2+3*(i-1)].rate}}</div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="addSelectMatchBtn" @click="continueSelect">+继续选择比赛<span class="numBox">已选{{selectedMatch}}场</span></div>
      <div class="tipsBox">注：全场90分钟（含伤停补时，不含加时赛及点球大战）</div>
      <div class="footerBettingInfoBox">
          <div class="bettingNumInfo flexCenterBetween">
              <div class="infoBox flexCenter" @click="selectPassWays">
                  <div class="numBox">{{selectedGame}}</div>
                  <img class="arrowIcon" src="/templates/img/rightArrow.png" alt="">
              </div>
              <div class="addSubtractBox flexCenter">
                  <div class="btnBox subtractBtn" @click="subTimes">-</div>
                  <div class="numBox">{{times}}</div>
                  <div class="btnBox addBtn" @click="addTimes">+</div>
              </div>
          </div>
          <div class="footOptInfoBtn flexCenter">
              <div class="dataInfoBox">
                  <div class="betNumBox">{{noteNumber}}注<span class="moneyBox">{{cost}}</span>元</div>
              </div>
              <div class="dataInfoBox flex1">
                  <div class="rewardMoneyNum">预计奖金 {{(minP * 2 * times).toFixed(2)}}-{{(maxP * 2 * times).toFixed(2)}}元</div>
              </div>
          </div>
          <div class="footOptInfoBtn flexCenter">
              <div class="sendBtnBox" @click="sendOptional">发送给店长</div>
              <div class="dataInfoBox flex1">
              </div>
              <div class="saveBtnBox" @click="saveOptional">保存方案</div>
          </div>
      </div>
      <div class="maskBox" v-if="selectPassWaysPop" @click="cancleSelectPassWays"></div>
      <div class="footerActionSheetPop flexCenterBetween" v-if="selectPassWaysPop">
            <div class="titleBox">自由过关</div>
            <div class="contentBox">
                <div class="selectPassWays flexCenter">
                    <div class="dataInfoCommonBox flexCenterCenter" :class="selectedGame.includes(item) ? 'redBox' : ''" v-for="(item,index) in gameList" @click="selectGame(item,index)">
                        <div class="dataBox">{{item}}</div>
                    </div>
                </div>
                
            </div>
            <div class="footerFixedBtnLists flexCenterBetween">
                <div class="btnBox cancleBtn" @click="cancleSelectPassWays">取消</div>
                <div class="btnBox sureBtn" @click="selectGameOk">筛好了</div>
            </div>
      </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            selectPassWaysPop:false,
            matchList:{},//存储上一步（自选投注页面）选择的数据
            selectedMatchList:[],//选择的比赛列表
            deadlineTime:'',
            selectedMatch: 0,
            selectedGame:'',
            selectedGameTemp:'',//打开选择弹窗的时候需要记录一个当前的值，方便取消的时候回退操作
            gameList:[],
            times: 1,
            noteNumber: 0,
            cost: 0,
            maxP: 0,
            minP: Infinity,
            matchIndexArr:[]//比赛列表下标数组
        },
        mounted: function () {
            let that = this;
            that.matchList = JSON.parse(window.localStorage.getItem("selectedMatch"));
            let allSingle = true;//是否全部都选的单关
            for(let key in that.matchList){
                that.matchList[key].forEach(function(match){
                    if(match.match.selectedNum && match.match.selectedNum > 0){
                        that.selectedMatch++;
                        let matchNew = {match:{},oddList:{}}; //构造一个新的match用于存储选择的赔率
                        matchNew.match = match.match;
                        for(let category in match.oddList){
                            match.oddList[category].forEach(function(odd){
                                if(odd.selected){
                                    if(null == matchNew.oddList[category]){
                                        matchNew.oddList[category] = [];
                                    }
                                    if(odd.single === 0){
                                        allSingle = false;
                                    }
                                    matchNew.oddList[category].push(odd);
                                }
                            })
                        }
                        that.selectedMatchList.push(matchNew);
                        if('' === that.deadlineTime){
                            that.deadlineTime = match.match.endTime;
                        }else if(that.deadlineTime > match.match.endTime){
                            that.deadlineTime = match.match.endTime;
                        }
                    }
                });
            }
            if(allSingle){
                that.gameList.push("单关");
            }
            for(let i = 2;i < (that.selectedMatch + 1); i++){
                that.gameList.push( i + "串1");
            }
            that.selectedGame = that.gameList[0];
            window.localStorage.removeItem("selectedMatch");
            //构建下标数组
            for(let i = 0;i < that.selectedMatchList.length; i++){
                that.matchIndexArr.push(i);
            }
            that.calculate();//计算注数，预计中奖金额
        },
        methods: {
            selectPassWays(){
                this.selectedGameTemp = this.selectedGame;
                this.selectPassWaysPop = true
            },
            cancleSelectPassWays(){
                this.selectedGame = this.selectedGameTemp;
                this.selectPassWaysPop = false
            },
            selectGameOk(){
                let that = this;
                that.selectPassWaysPop = false;
                that.calculate();
            },
            selectGame(game,index){
                let that = this;
                if(!that.selectedGame.includes(game)){//选择
                    if('' === that.selectedGame){
                        that.selectedGame = game;
                    }else {
                        let selectedGameArr = [];
                        that.selectedGame.split(',').forEach(function (item) {
                            if (that.gameList.indexOf(item) < index) {
                                selectedGameArr.push(item);
                            } else {
                                selectedGameArr.push(game);
                                selectedGameArr.push(item);
                            }
                        });
                        if (selectedGameArr.length === that.selectedGame.split(',').length) {//长度一样，说明原来选中的所有元素都在当前选择的元素前面
                            selectedGameArr.push(game);
                        }
                        that.selectedGame = selectedGameArr.join(',');
                    }
                }else{//取消选中
                    let selectedGameArr = that.selectedGame.split(',');
                    if(1 === selectedGameArr.length){
                        that.selectedGame = '';
                    }else {
                        selectedGameArr.splice(selectedGameArr.indexOf(game), 1);
                        that.selectedGame = selectedGameArr.join(',');
                    }
                }
            },
            continueSelect(){
                window.localStorage.setItem("selectedMatch",JSON.stringify(this.matchList));
                window.location.href = "/scheme";
            },
            addTimes(){
                this.times++;
                this.cost = this.noteNumber * this.times * 2;
            },
            subTimes(){
                if(this.times > 1){
                    this.times--;
                    this.cost = this.noteNumber * this.times * 2;
                }
            },
            calculate(){
                let that = this;
                //计算注数以及最高赔率
                that.noteNumber = 0;
                that.minP = Infinity;
                that.maxP = 0;
                that.selectedGame.split(',').forEach(function(item){
                    if(item === '单关'){
                        that.selectedMatchList.forEach(function(match){
                            that.noteNumber += match.match.selectedNum;
                            let minP = Infinity;
                            let maxP = 0;
                            for(let key in match.oddList) {
                                match.oddList[key].forEach(function (odd) {
                                    if (parseFloat(odd.rate) < minP) {
                                        minP = parseFloat(odd.rate);
                                    }
                                    if (parseFloat(odd.rate) > maxP) {
                                        maxP = parseFloat(odd.rate);
                                    }
                                })
                            }
                            if (that.minP > minP) {
                                that.minP = minP;
                            }
                            that.maxP += maxP;
                        });
                    }else{
                        let n = item.split('串')[0];//几个一串
                        let combinationArr = that.combination(that.matchIndexArr,n);
                        let minP = Infinity;
                        let maxP = 0;
                        combinationArr.forEach(function (combination) {
                            let noteNumber = 1;
                            let minPTmp = 1;
                            let maxPTmp = 1;
                            combination.forEach(function (index) {
                                noteNumber *= that.selectedMatchList[index].match.selectedNum;
                                let minRate = Infinity;
                                let maxRate = 0;
                                for(let key in that.selectedMatchList[index].oddList) {
                                    that.selectedMatchList[index].oddList[key].forEach(function (odd) {
                                        if (parseFloat(odd.rate) < minRate) {
                                            minRate = parseFloat(odd.rate);
                                        }
                                        if (parseFloat(odd.rate) > maxRate) {
                                            maxRate = parseFloat(odd.rate);
                                        }
                                    });
                                }
                                minPTmp *= minRate;
                                maxPTmp *= maxRate;
                            });//理论最高奖金应该是每场比赛都中了赔率最高的奖金，所以应该将这里的赔率最高值互相之间的乘积加起来，而最低中将则是最赔率最低的组合中了其中的一个
                            if(minP > minPTmp){
                                minP = minPTmp;
                            }
                            maxP += maxPTmp;
                            that.noteNumber += noteNumber;
                        });
                        if(that.minP > minP){
                            that.minP = minP;
                        }
                        if(that.maxP < maxP){
                            that.maxP = maxP;
                        }
                    }
                });
                that.cost = that.noteNumber * that.times * 2;
            },
            combination(arr,num){//计算所有比赛串起来可能的排列组合,比赛用selectedMatchList数组下标表示
                if(0 === num){
                    return [];
                }
                let result = [];
                (function f(t,a,n){
                    if (n === 0) return result.push(t);
                    for (let i = 0, l = a.length; i <= l-n; i++) {
                        f(t.concat(a[i]),a.slice(i+1),n-1)
                    }
                })([],arr,num);
                return result;
            },
            saveOptional(){
                let that = this;
                let optional = {
                    name: '竞彩足球',
                    cost: that.cost,
                    times: that.times,
                    game: that.selectedGame,
                    noteNumber: that.noteNumber,
                    status: 0,
                    optionDate: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                };
                let optionalDetailList = [];
                that.selectedMatchList.forEach(function(match){
                    for(let key in match.oddList) {
                        match.oddList[key].forEach(function (odd) {
                            optionalDetailList.push({
                                matchId: odd.matchId,
                                category: odd.category,
                                rate: odd.rate,
                                content: odd.content
                            })
                        })
                    }
                });
                $.ajax('/private/optional/addOptional', {
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        optional,
                        optionalDetailList
                    }),
                    success: res => {
                        if(res.code === '0000'){
                            showToast("保存成功");
                            window.location.href = '/private/save_programme'
                        }else{
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err)
                    }
                })
            },
            sendOptional(){
                let that = this;
                let optional = {
                    name: '竞彩足球',
                    cost: that.cost,
                    times: that.times,
                    game: that.selectedGame,
                    noteNumber: that.noteNumber,
                    status: 1,
                    optionDate: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                };
                let optionalDetailList = [];
                that.selectedMatchList.forEach(function(match){
                    for(let key in match.oddList) {
                        match.oddList[key].forEach(function (odd) {
                            optionalDetailList.push({
                                matchId: odd.matchId,
                                category: odd.category,
                                rate: odd.rate,
                                content: odd.content
                            })
                        })
                    }
                });
                $.ajax('/private/optional/sendOptional', {
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        optional,
                        optionalDetailList
                    }),
                    success: res => {
                        if(res.code === '0000'){
                            showToast("发送成功");
                            window.location.href = '/private/leave_message'
                        }else{
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err)
                    }
                })
            }
        }
    })
</script>

</html>