
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>投注确认</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="bettingDetailContainer" id="webpage">
        <div class="headerBettingCountime">截止投注时间 <span class="timeBox">{{deadlineTime}}</span></div>
        <div class="betLotteryInfoLists">
            <div class="betInfoList" v-for="match in selectedMatchList">
                <div class="headerInfoBox flexCenterBetween">
                    <div class="matchInfoBox">{{match.match.round}} {{match.match.match}}</div>
                    <div class="countryVsInfo flexCenter">
                        <div class="mainIcon">主</div>
                        <div class="countryName">{{match.match.mainTeam}}</div>
                        <div class="vsIcon">VS</div>
                        <div class="countryName">{{match.match.clientTeam}}</div>
                        <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                    </div>
                </div>
                <div v-for="(recommendList, key) in match.recommend">
                    <div v-for="i in Math.ceil(recommendList.length/3)">
                        <div class="detailInfoLists flexCenter">
                            <div class="detailInfoBox flexCenter">
                                <div class="leftTagBox styleColor1 flexCenterCenter" v-if="key=='胜负平'">{{key}}</div>
                                <div class="leftTagBox styleColor2 flexCenterCenter" v-if="key.startsWith('让球') && key.indexOf('-') != -1">{{key}}</div>
                                <div class="leftTagBox styleColor3 flexCenterCenter" v-if="key=='总进球'">{{key}}</div>
                                <div class="leftTagBox styleColor4 flexCenterCenter" v-if="key.startsWith('让球') && key.indexOf('-') == -1">{{key}}</div>
                                <div class="leftTagBox styleColor5 flexCenterCenter" v-if="key=='比分'">{{key}}</div>
                                <div class="leftTagBox styleColor6 flexCenterCenter" v-if="key=='半全场'">{{key}}</div>
                                <div class="dataInfoBox" v-if="recommendList[0+3*(i-1)]">
                                    <div class="dataBox">{{recommendList[0+3*(i-1)].content}}</div>
                                    <div class="scoreBox">{{recommendList[0+3*(i-1)].rate}}</div>
                                </div>
                                <div class="dataInfoBox" v-if="recommendList[1+3*(i-1)]">
                                    <div class="dataBox">{{recommendList[1+3*(i-1)].content}}</div>
                                    <div class="scoreBox">{{recommendList[1+3*(i-1)].rate}}</div>
                                </div>
                                <div class="dataInfoBox" v-if="recommendList[2+4*(i-1)]">
                                    <div class="dataBox">{{recommendList[2+3*(i-1)].content}}</div>
                                    <div class="scoreBox">{{recommendList[2+3*(i-1)].rate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="addSelectMatchBtn"><span class="numBox">已选{{selectedMatch}}场</span></div>
      <div class="tipsBox">注：全场90分钟（含伤停补时，不含加时赛及点球大战）</div>
      <div class="footerBettingInfoBox">
          <div class="bettingNumInfo flexCenterBetween">
              <div class="infoBox flexCenter">
                  <div class="numBox">{{selectedGame}}</div>
              </div>
              <div class="addSubtractBox flexCenter">
                  <div class="btnBox subtractBtn" @click="subTimes">-</div>
                  <div class="numBox">{{times}}</div>
                  <div class="btnBox addBtn" @click="addTimes">+</div>
              </div>
          </div>
          <div class="footOptInfoBtn flexCenter">
              <div class="dataInfoBox">
                  <div class="betNumBox">{{noteNumber}}注<span class="moneyBox">{{cost}}</span>元</div>
              </div>
              <div class="dataInfoBox flex1">
                  <div class="rewardMoneyNum">预计奖金 {{(minP * 2 * times).toFixed(2)}}-{{(maxP * 2 * times).toFixed(2)}}元</div>
              </div>
          </div>
          <div class="footOptInfoBtn flexCenter">
              <div class="sendBtnBox" @click="sendOptional">发送给店长</div>
              <div class="dataInfoBox flex1">
              </div>
              <div class="saveBtnBox" @click="saveOptional">保存方案</div>
          </div>
      </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<!-- <script type="text/javascript">
    // 初始化
    var vConsole = new VConsole();
</script> -->
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            selectedGame:'',
            selectedMatchList:[],//选择的比赛列表
            deadlineTime:'',
            selectedMatch: 0,
            times: 1,
            noteNumber: 0,
            cost: 0,
            maxP: 0,
            minP: Infinity,
            matchIndexArr:[]//比赛列表下标数组
        },
        mounted: function () {
            let that = this;
            that.loadData();
        },
        methods: {
            loadData(){
                let id = $.request.queryString.articleId;
                showloading();
                $.ajax('/article/getDetail?id=' + id, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        hideloading();
                        if (res.code === '0000') {
                            app.selectedGame = res.data.recommendGame;
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        hideloading();
                        console.log(err);
                    }
                });
                $.ajax('/recommend/list?articleId=' + id, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        if (res.code === '0000') {
                            app.selectedMatchList = res.data;
                            app.selectedMatch = app.selectedMatchList.length;
                            app.selectedMatchList.forEach(function(match,index){
                                app.matchIndexArr.push(index);
                            });
                            app.selectedMatchList.forEach(function (match) {
                                match.match.selectedNum = 0;
                                for(let key in match.recommend) {
                                    match.match.selectedNum += match.recommend[key].length;
                                }
                            });
                            app.calculate();
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err);
                    }
                });
            },
            addTimes(){
                this.times++;
                this.cost = this.noteNumber * this.times * 2;
            },
            subTimes(){
                if(this.times > 1){
                    this.times--;
                    this.cost = this.noteNumber * this.times * 2;
                }
            },
            calculate(){
                let that = this;
                //计算注数以及最高赔率
                that.noteNumber = 0;
                that.minP = Infinity;
                that.maxP = 0;
                that.selectedGame.split(',').forEach(function(item){
                    if(item === '单关'){
                        that.selectedMatchList.forEach(function(match){
                            that.noteNumber += match.match.selectedNum;
                            let minP = Infinity;
                            let maxP = 0;
                            for(let key in match.recommend) {
                                match.recommend[key].forEach(function (odd) {
                                    if (parseFloat(odd.rate) < minP) {
                                        minP = parseFloat(odd.rate);
                                    }
                                    if (parseFloat(odd.rate) > maxP) {
                                        maxP = parseFloat(odd.rate);
                                    }
                                })
                            }
                            if (that.minP > minP) {
                                that.minP = minP;
                            }
                            that.maxP += maxP;
                        });
                    }else{
                        let n = item.split('串')[0];//几个一串
                        let combinationArr = that.combination(that.matchIndexArr,n);
                        let minP = Infinity;
                        let maxP = 0;
                        combinationArr.forEach(function (combination) {
                            let noteNumber = 1;
                            let minPTmp = 1;
                            let maxPTmp = 1;
                            combination.forEach(function (index) {
                                noteNumber *= that.selectedMatchList[index].match.selectedNum;
                                let minRate = Infinity;
                                let maxRate = 0;
                                for(let key in that.selectedMatchList[index].recommend) {
                                    that.selectedMatchList[index].recommend[key].forEach(function (odd) {
                                        if (parseFloat(odd.rate) < minRate) {
                                            minRate = parseFloat(odd.rate);
                                        }
                                        if (parseFloat(odd.rate) > maxRate) {
                                            maxRate = parseFloat(odd.rate);
                                        }
                                    });
                                }
                                minPTmp *= minRate;
                                maxPTmp *= maxRate;
                            });//理论最高奖金应该是每场比赛都中了赔率最高的奖金，所以应该将这里的赔率最高值互相之间的乘积加起来，而最低中将则是最赔率最低的组合中了其中的一个
                            if(minP > minPTmp){
                                minP = minPTmp;
                            }
                            maxP += maxPTmp;
                            that.noteNumber += noteNumber;
                        });
                        if(that.minP > minP){
                            that.minP = minP;
                        }
                        if(that.maxP < maxP){
                            that.maxP = maxP;
                        }
                    }
                });
                that.cost = that.noteNumber * that.times * 2;
            },
            combination(arr,num){//计算所有比赛串起来可能的排列组合,比赛用selectedMatchList数组下标表示
                if(0 === num){
                    return [];
                }
                let result = [];
                (function f(t,a,n){
                    if (n === 0) return result.push(t);
                    for (let i = 0, l = a.length; i <= l-n; i++) {
                        f(t.concat(a[i]),a.slice(i+1),n-1)
                    }
                })([],arr,num);
                return result;
            },
            saveOptional(){
                let that = this;
                let optional = {
                    name: '竞彩足球',
                    cost: that.cost,
                    times: that.times,
                    game: that.selectedGame,
                    noteNumber: that.noteNumber,
                    status: 0,
                    optionDate: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                };
                let optionalDetailList = [];
                that.selectedMatchList.forEach(function(match){
                    for(let key in match.recommend) {
                        match.recommend[key].forEach(function (odd) {
                            optionalDetailList.push({
                                matchId: odd.matchId,
                                category: odd.category,
                                rate: odd.rate,
                                content: odd.content
                            })
                        })
                    }
                });
                $.ajax('/private/optional/addOptional', {
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        optional,
                        optionalDetailList
                    }),
                    success: res => {
                        if(res.code === '0000'){
                            showToast("保存成功");
                            window.location.href = '/private/save_programme'
                        }else{
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err)
                    }
                })
            },
            sendOptional(){
                let that = this;
                let optional = {
                    name: '竞彩足球',
                    cost: that.cost,
                    times: that.times,
                    game: that.selectedGame,
                    noteNumber: that.noteNumber,
                    status: 1,
                    optionDate: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                };
                let optionalDetailList = [];
                that.selectedMatchList.forEach(function(match){
                    for(let key in match.recommend) {
                        match.recommend[key].forEach(function (odd) {
                            optionalDetailList.push({
                                matchId: odd.matchId,
                                category: odd.category,
                                rate: odd.rate,
                                content: odd.content
                            })
                        })
                    }
                });
                $.ajax('/private/optional/sendOptional', {
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        optional,
                        optionalDetailList
                    }),
                    success: res => {
                        if(res.code === '0000'){
                            showToast("发送成功");
                            window.location.href = '/private/leave_message'
                        }else{
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err)
                    }
                })
            }
        }
    })
</script>

</html>