
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>帮助中心</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="helpContainer" id="webpage">
        <h3>这是问题标题？</h3>
        <p>昨天从市教育招生考试院获悉，我市2020年普通高校招生本科批次A阶段录取工作现已基本结束。570所院校2108个专业组共计录取新生31170余人，争取招生院校在津增投本科招生计划750余个。</p>
        <h3>这是问题标题？</h3>
        <p>昨天从市教育招生考试院获悉，我市2020年普通高校招生本科批次A阶段录取工作现已基本结束。570所院校2108个专业组共计录取新生31170余人，争取招生院校在津增投本科招生计划750余个。</p>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<!-- <script type="text/javascript">
    // 初始化
    var vConsole = new VConsole();
</script> -->
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {

        },
        mounted: function () {
            
        },
        methods: {

        }
    })
</script>

</html>