
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>帮助中心</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="helpContainer" id="webpage">
        <div v-for="help in helpList">
            <h3>{{help.title}}</h3>
            <p>{{help.content}}</p>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<!-- <script type="text/javascript">
    // 初始化
    var vConsole = new VConsole();
</script> -->
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            helpList:[]
        },
        mounted: function () {
            $.ajax('/help/list', {
                type: 'GET',
                contentType: 'application/json',
                success: res => {
                    if (res.code === '0000') {
                        app.helpList = res.data;
                    } else {
                        showToast(res.message);
                    }
                },
                error: err => {
                    console.log(err);
                }
            })
        },
        methods: {

        }
    })
</script>

</html>