<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/templates/js/swiper.min.js"></script>
    <script type="text/javascript" src="/templates/js/common.js"></script>
</head>

<body>
    <div class="page tabbar js_show" id="app" v-cloak>
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <div class="weui_tab_bd">
                    <div class="centerContentBody">
                        <div class="bannerWrapper">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="item in bannerImgLists">
                                        <img :src="item.picPath" @click="goNewsDetail(item.id)" />
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="changeTabsLists">
                            <div class="tabName" :class="index == tabIndex?'current':''" v-for="(item,index) in articleTabs" @click="changeTabs(item.id,index)">{{item.name}}</div>
                        </div>
                        <div class="newsInfoLists" v-if="newsLists.length > 0">
                            <div class="newsList flexCenterBetween" v-for="(item,index) in newsLists" @click="goNewsDetail(item.id)">
                                <div class="news_info flexTopBetween flex1">
                                    <div class="title_box ellipsis2"><span class="hitRateBox">三天命中{{item.hitrate}}</span>{{item.title}}</div>
                                    <div class="time_looknum flexCenter">
                                        <div class="setTopTagBox" v-if="index < 2">置顶</div>
                                        <div class="time_box">{{item.time}}</div>
                                    </div>
                                </div>
                                <img class="news_img" :src="item.img" alt="">
                            </div>
                        </div>
                        <div class='noContentDefaultBox' v-else>
                            <div class='defalutContent'>
                                <img class="defaultImg" src='/templates/img/audit.png'></img>
                                <div class='tipsBox'>
                                    <div>暂无信息</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="weui-tabbar">
                    <a href="/index" class="weui-tabbar__item weui-bar__item_on">
                        <span style="display: inline-block;position: relative;">
                            <img src=".//templates/img/tab/tabIcon_1_2.png" alt="" class="weui-tabbar__icon">
                            <!-- <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span> -->
                        </span>
                        <p class="weui-tabbar__label">首页</p>
                    </a>
                    <a href="/scheme" class="weui-tabbar__item">
                        <img src=".//templates/img/tab/tabIcon_2_1.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">自选方案</p>
                    </a>
                    <a href="/score" class="weui-tabbar__item">
                        <img src=".//templates/img/tab/tabIcon_3_1.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">比分</p>
                    </a>
                    <a href="/mine" class="weui-tabbar__item">
                        <img src=".//templates/img/tab/tabIcon_4_1.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">我的</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="/templates/index.js"></script>
<!--Initialize Swiper -->
<script>
    var swiperH = new Swiper('.swiper-container', {
        spaceBetween: 10,
        observer: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
</html>