
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>留言</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="leaveMessageContainer" id="webpage">
        <div class="messageTimeBox">11-10 08:30</div>
        <div class="sendMessageContent leftMessageContent flexCenterTop">
            <img class="headerImg" src="/templates/img/defualtImg.png" alt="">
            <div class="messageContent">
                <span class="contentBox">文字文案文字文案文字文案文字文案文字文案文字文案文字文案</span>
            </div>
        </div>
        <div class="sendMessageContent leftMessageContent flexCenterTop">
            <img class="headerImg" src="/templates/img/defualtImg.png" alt="">
            <div class="messageContent messageContent_scheme"> <!--messageContent_scheme-->
                <span class="contentBox">
                    <div class="titleBoxWrap">
                        <span>方案内容</span>
                    </div>
                    <div class="matchDetailInfoBox">
                        <div class="headerBox flexCenter">
                            <div class="titleBox flex1">玩法</div>
                            <div class="titleBox flex1">您的选择</div>
                            <div class="titleBox flex1">赛过</div>
                            <div class="titleBox flex1">倍数</div>
                        </div>
                        <div class="matchCountryInfo flexCenterCenter">
                            <div class="matchInfoBox">周五002 </div>
                            <div class="countryVsInfo flexCenter">
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                            </div>
                        </div>
                        <table class="winloseScoreInfo">
                            <tr>
                                <td class="scoreDetail">
                                    胜平负
                                </td>
                                <td class="scoreDetail">
                                    <div>
                                        <div class="infoBox">胜<span class="dataBox">3.27</span></div>
                                        <div class="infoBox">平<span class="dataBox">3.27</span></div>
                                        <div class="infoBox">负<span class="dataBox">3.27</span></div>
                                    </div>
                                </td>
                                <td class="scoreDetail">
                                    <div class="infoBox">-</div>
                                </td>
                                <td class="scoreDetail">
                                    <div class="infoBox">1</div>
                                </td>
                            </tr>
                        </table>
                        <div class="matchCountryInfo flexCenterCenter">
                            <div class="matchInfoBox">周五002 </div>
                            <div class="countryVsInfo flexCenter">
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                            </div>
                        </div>
                        <table class="winloseScoreInfo">
                            <tr>
                                <td class="scoreDetail">胜平负</td>
                                <td class="scoreDetail">
                                    <div class="infoBox">胜<span class="dataBox">3.27</span></div>
                                </td>
                                <td class="scoreDetail">
                                    <div class="infoBox">-</div>
                                </td>
                                <td class="scoreDetail">
                                    <div class="infoBox">1</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>
            </div>
        </div>
        <div class="sendMessageContent rightMessageContent flexCenterTop">
            <div class="messageContent">
                <span class="contentBox">111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</span>
            </div>
            <img class="headerImg" src="/templates/img/defualtImg.png" alt="">
            
        </div>
        <div class="footerSendBtnBox ">
            <div class="sendMsgInputWrap flexCenter">
                <input class="sendInputBox flex1" type="text" >
                <div class="sendBtn">发送</div>
            </div>
            
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<!-- <script type="text/javascript">
    // 初始化
    var vConsole = new VConsole();
</script> -->
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {

        },
        mounted: function () {
            
        },
        methods: {

        }
    })
</script>

</html>