
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>留言</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="leaveMessageContainer" id="webpage">
        <div v-for="message in messageList">
            <div class="sendMessageContent rightMessageContent flexCenterTop" v-if="null == message.optional">
                <div class="messageContent">
                    <span class="contentBox">{{message.note.content}}</span>
                </div>
                <img class="headerImg" src="/templates/img/defualtImg.png" alt="">
            </div>
            <div v-else>
                <div class="messageTimeBox">{{message.note.noteTime}}</div>
                <div class="sendMessageContent rightMessageContent flexCenterTop">
                    <div class="messageContent messageContent_scheme"> <!--messageContent_scheme-->
                        <span class="contentBox">
                            <div class="titleBoxWrap">
                                <span>方案内容</span>
                            </div>
                            <div class="matchDetailInfoBox">
                                <div class="headerBox flexCenter">
                                    <div class="titleBox flex1">玩法</div>
                                    <div class="titleBox flex1">您的选择</div>
                                    <div class="titleBox flex1">赛果</div>
                                    <div class="titleBox flex1">倍数</div>
                                </div>
                                <div v-for="match in message.match">
                                    <div class="matchCountryInfo flexCenterCenter">
                                        <div class="matchInfoBox">{{match.match.round}} </div>
                                        <div class="countryVsInfo flexCenter">
                                            <div class="countryName">{{match.match.mainTeam}}</div>
                                            <div class="vsIcon">VS</div>
                                            <div class="countryName">{{match.match.clientTeam}}</div>
                                        </div>
                                    </div>
                                    <table class="winloseScoreInfo" v-for="(optionalDetailList,key) in match.optionalDetail">
                                        <tr>
                                            <td class="scoreDetail">
                                                {{key}}
                                            </td>
                                            <td class="scoreDetail">
                                                <div>
                                                    <div class="infoBox" v-for="optionalDetail in optionalDetailList">{{optionalDetail.content}}<span class="dataBox">{{optionalDetail.rate}}</span></div>
                                                </div>
                                            </td>
                                            <td class="scoreDetail">
                                                <div class="infoBox">{{match.match.totalScore}}</div>
                                            </td>
                                            <td class="scoreDetail">
                                                <div class="infoBox">{{message.optional.times}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </span>
                    </div>
                    <img class="headerImg" src="/templates/img/defualtImg.png" alt="">
                </div>
                <div class="sendMessageContent leftMessageContent flexCenterTop">
                    <img class="headerImg" src="/templates/img/defualtImg.png" alt="">
                    <div class="messageContent">
                        <span class="contentBox">{{reply}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerSendBtnBox ">
            <div class="sendMsgInputWrap flexCenter">
                <input class="sendInputBox flex1" type="text" v-model="content">
                <div class="sendBtn" @click="sendMessage">发送</div>
            </div>
            
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            pageNum: 1,
            pageSize: 5,
            none: false,
            messageList: [],
            content: '',
            reply: ''
        },
        mounted: function () {
            let that = this;
            that.loadData();
            that.$watch('messageList',function(val){
                that.$nextTick(function() {
                    $(document).scrollTop($(document).height());
                });
            })
        },
        methods: {
            loadData(){
                showloading();
                $.ajax('/private/optional/getNoteList?pageIndex=' + this.pageNum + '&pageSize=' + this.pageSize, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        hideloading();
                        if (res.code === '0000') {
                            console.info(res.data);
                            let lists = res.data.noteList;
                            app.reply = res.data.reply;
                            if(lists.length === 0){
                                app.none = true;
                            }else {
                                for (let i in lists) {
                                    app.messageList.push(lists[i]);
                                }
                            }
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        hideloading();
                        console.log(err);
                    }
                });
            },
            sendMessage(){
                let that = this;
                if('' === that.content){
                    showToast("消息内容不能为空");
                }
                $.ajax('/private/optional/sendMessage', {
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        content: that.content,
                        noteTime: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                    }),
                    success: res => {
                        if(res.code === '0000'){
                            that.messageList.push({
                                note:{
                                    content: that.content,
                                    noteTime: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                                }
                            });
                            that.content = '';
                        }else{
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err)
                    }
                })
            }
        }
    })
</script>

</html>