<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>文章详情</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/templates/js/common.js"></script>
</head>

<body>
    <div class="newsDetailContainer" id="app" v-cloak>
        <!-- <div class="newsDetailBanner">
            <img :src="articleInfo.picPath" alt="">
        </div> -->
        <div class="newsDetailContent">
            <div class="newsTitleBox">{{articleInfo.title}}</div>
            <div class="newsOtherInfo flexCenterBetween">
                <div class="newsAuthorInfo">
                    <!-- <div class="nameBox">刘晓蕙</div> -->
                    <div class="timeBox">{{articleInfo.date}}</div>
                </div>
                <!-- <div class="lookUserNum">{{articleInfo.readNum}}人已看</div> -->
            </div>
            <div class="richTxtContent">
            </div>
        </div>
        <div class="fixedRecommendBtn flexCenterCenter" v-if="articleInfo.hasRecommend == 1" @click="showRecommend()">
            <div>
                <div>推荐</div>
                <div>方案</div>
            </div>
        </div>
        <div class="maskBox" v-if="showRecommendPop" @click="hideRecommend"></div>
        <div class="popWinBox" v-if="showRecommendPop" style="overflow: auto;height:80%;">
            <img class="closeIconBtn" src="/templates/img/closeIcon2.png" alt="" @click="hideRecommend">
            <div class="titleBoxWrap">
                <span>推荐方案</span>
            </div>
            <div class="contentBox">
                <div class="articleProgrammeLists">
                    <div class="programmeList" v-for="item in recommendList">
                        <div class="headerInfoBox flexCenterBetween" >
                            <div class="matchInfoBox">{{item.match.round}} {{item.match.match}}</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">{{item.match.mainTeam}}</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">{{item.match.clientTeam}}</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div v-for="(recommend, key) in item.recommend">
                            <div v-for="i in Math.ceil(recommend.length/4)">
                                <div class="detailInfoBox flexCenter">
                                    <div class="leftTagBox styleColor1 flexCenterCenter" v-if="key=='胜负平'">{{key}}</div>
                                    <div class="leftTagBox styleColor2 flexCenterCenter" v-if="key.startsWith('让球') && key.indexOf('-') != -1">{{key}}</div>
                                    <div class="leftTagBox styleColor3 flexCenterCenter" v-if="key=='总进球'">{{key}}</div>
                                    <div class="leftTagBox styleColor4 flexCenterCenter" v-if="key.startsWith('让球') && key.indexOf('-') == -1">{{key}}</div>
                                    <div class="leftTagBox styleColor5 flexCenterCenter" v-if="key=='比分'">{{key}}</div>
                                    <div class="leftTagBox styleColor6 flexCenterCenter" v-if="key=='半全场'">{{key}}</div>
                                    <div class="dataInfoBox" v-if="recommend[0+4*(i-1)]">
                                        <div class="dataBox">{{recommend[0+4*(i-1)].content}}</div>
                                        <div class="scoreBox">{{recommend[0+4*(i-1)].rate}}</div>
                                    </div>
                                    <div class="dataInfoBox" v-if="recommend[1+4*(i-1)]">
                                        <div class="dataBox">{{recommend[1+4*(i-1)].content}}</div>
                                        <div class="scoreBox">{{recommend[1+4*(i-1)].rate}}</div>
                                    </div>
                                    <div class="dataInfoBox" v-if="recommend[2+4*(i-1)]">
                                        <div class="dataBox">{{recommend[2+4*(i-1)].content}}</div>
                                        <div class="scoreBox">{{recommend[2+4*(i-1)].rate}}</div>
                                    </div>
                                    <div class="dataInfoBox" v-if="recommend[3+4*(i-1)]">
                                        <div class="dataBox">{{recommend[3+4*(i-1)].content}}</div>
                                        <div class="scoreBox">{{recommend[3+4*(i-1)].rate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commonBtn" @click="order()">跟单</div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            articleInfo:{
                title: '',
                date: '',
                content: '',
                hasRecommend: 0,
                recommendGame: ''
            },
            recommendList:[{
                match:{
                    mainTeam:'',
                    clientTeam:'',
                    match:'',
                    round:''
                },
                recommend:{

                }
            }],
            needLogin: true,
            showRecommendPop:false
            
        },
        mounted: function () {
            let id = $.request.queryString.id;
            this.init(id);
        },
        methods: {
            showRecommend(){
                this.showRecommendPop = true;
            },
            hideRecommend(){
                this.showRecommendPop = false;
            },
            order(){
                if(this.needLogin){
                    showToast("需要登陆");
                    window.location.href = '/login';
                }else {
                    window.location.href = "/private/betting_order_recommend?articleId=" + $.request.queryString.id
                }
            },
            init(id) {
                showloading();
                $.ajax('/article/getDetail?id=' + id, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        hideloading();
                        if (res.code === '0000') {
                            app.articleInfo = res.data;
                            $(".richTxtContent").html(res.data.content);
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        hideloading();
                        console.log(err);
                    }
                });
                $.ajax('/recommend/list?articleId=' + id, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        if (res.code === '0000') {
                            app.recommendList = res.data;
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err);
                    }
                });
                $.ajax('/private/userInfo', {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        if (res.code === '0000') {
                            app.needLogin = false;
                        }
                    },
                    error: err => {
                        console.log(err);
                    }
                });
            },
        }
    })
</script>

</html>