<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>文章详情</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/templates/js/common.js"></script>
</head>

<body>
    <div class="newsDetailContainer" id="app" v-cloak>
        <!-- <div class="newsDetailBanner">
            <img :src="articleInfo.picPath" alt="">
        </div> -->
        <div class="newsDetailContent">
            <div class="newsTitleBox">{{articleInfo.title}}</div>
            <div class="newsOtherInfo flexCenterBetween">
                <div class="newsAuthorInfo">
                    <!-- <div class="nameBox">刘晓蕙</div> -->
                    <div class="timeBox">{{articleInfo.createTime}}</div>
                </div>
                <!-- <div class="lookUserNum">{{articleInfo.readNum}}人已看</div> -->
            </div>
            <div class="richTxtContent">
                <p>昨天从市教育招生考试院获悉，我市2020年普通高校招生本科批次A阶段录取工作现已基本结束。570所院校2108个专业组共计录取新生31170余人，争取招生院校在津增投本科招生计划750余个。</p>
                <h3>双色球今年方案命中情况如下</h3>
                <p>昨天从市教育招生考试院获悉，我市2020年普通高校招生本科批次A阶段录取工作现已基本结束。570所院校2108个专业组共计录取新生31170余人，争取招生院校在津增投本科招生计划750余个。</p>
            </div>
        </div>
        <div class="fixedRecommendBtn flexCenterCenter" @click="showRecommend">
            <div>
                <div>推荐</div>
                <div>方案</div>
            </div>
        </div>
        <div class="maskBox" v-if="showRecommendPop" @click="hideRecommend"></div>
        <div class="popWinBox" v-if="showRecommendPop">
            <img class="closeIconBtn" src="/templates/img/closeIcon2.png" alt="" @click="hideRecommend">
            <div class="titleBoxWrap">
                <span>推荐方案</span>
            </div>
            <div class="contentBox">
                <div class="articleProgrammeLists">
                    <div class="programmeList">
                        <div class="headerInfoBox flexCenterBetween">
                            <div class="matchInfoBox">周五 003 欧冠</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor1 flexCenterCenter">非让球</div>
                            <div class="dataInfoBox">
                                <div class="dataBox">负</div>
                                <div class="scoreBox">2.03</div>
                            </div>
                        </div>
                    </div>
                    <div class="programmeList">
                        <div class="headerInfoBox flexCenterBetween">
                            <div class="matchInfoBox">周五 003 欧冠</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor2 flexCenterCenter">比分</div>
                            <div class="dataInfoBox">
                                <div class="dataBox">3:0</div>
                                <div class="scoreBox">12:40</div>
                            </div>
                        </div>
                    </div>
                    <div class="programmeList">
                        <div class="headerInfoBox flexCenterBetween">
                            <div class="matchInfoBox">周五 003 欧冠</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor3 flexCenterCenter">总进球</div>
                            <div class="dataInfoBox">
                                <div class="dataBox">2</div>
                                <div class="scoreBox">2:40</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commonBtn">跟单</div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            articleInfo:{
                title:'喜报！289万！上期命中双色球一等奖！优秀！！2007期双色球再搏万元大奖！！',
                createTime:'2020.08.23 01:20'
            },
            showRecommendPop:false
            
        },
        mounted: function () {
            let id = $.request.queryString.id;
            console.log(id)
            // this.init(id);
        },
        methods: {
            showRecommend(){
                this.showRecommendPop = true;
            },
            hideRecommend(){
                this.showRecommendPop = false;
            },
            init(id) {
                let that = this;
                var token = getToken();
                if (token == null || token.length < 1) {
                    login(location.href);
                    return;
                }
                var url = "/article/detail";
                var jsonData = {
                    articleId:id,
                }
                showloading();
                getRequest(url, token, jsonData, function (data) {
                    // 隐藏加载中
                    hideloading();
                    if (data.code != 200) {
                        showToast("请稍后再试");
                        return;
                    }
                    let lists = data.result;
                    for (let i in lists) {
                        let time = lists[i].createTime;
                        lists[i].createTime = time.match(/(\S*)T/)[1];
                    }
                    that.articleInfo = lists[0];
                    $(".richTxtContent").html(lists[0].detail)
                }, function (data) {
                    // 隐藏加载中
                    hideloading();
                    showToast("请稍后再试");
                });
            },
        }
    })
</script>

</html>