<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>文章详情</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/templates/js/common.js"></script>
</head>

<body>
    <div class="newsDetailContainer" id="app" v-cloak>
        <!-- <div class="newsDetailBanner">
            <img :src="articleInfo.picPath" alt="">
        </div> -->
        <div class="newsDetailContent">
            <div class="newsTitleBox">{{articleInfo.title}}</div>
            <div class="newsOtherInfo flexCenterBetween">
                <div class="newsAuthorInfo">
                    <!-- <div class="nameBox">刘晓蕙</div> -->
                    <div class="timeBox">{{articleInfo.date}}</div>
                </div>
                <!-- <div class="lookUserNum">{{articleInfo.readNum}}人已看</div> -->
            </div>
            <div class="richTxtContent">
            </div>
        </div>
        <div class="fixedRecommendBtn flexCenterCenter" v-if="articleInfo.hasRecommend == 1" @click="showRecommend()">
            <div>
                <div>推荐</div>
                <div>方案</div>
            </div>
        </div>
        <div class="maskBox" v-if="showRecommendPop" @click="hideRecommend"></div>
        <div class="popWinBox" v-if="showRecommendPop">
            <img class="closeIconBtn" src="/templates/img/closeIcon2.png" alt="" @click="hideRecommend">
            <div class="titleBoxWrap">
                <span>推荐方案</span>
            </div>
            <div class="contentBox">
                <div class="articleProgrammeLists">
                    <div class="programmeList">
                        <div class="headerInfoBox flexCenterBetween">
                            <div class="matchInfoBox">周五 003 欧冠</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor1 flexCenterCenter">非让球</div>
                            <div class="dataInfoBox">
                                <div class="dataBox">负</div>
                                <div class="scoreBox">2.03</div>
                            </div>
                        </div>
                    </div>
                    <div class="programmeList">
                        <div class="headerInfoBox flexCenterBetween">
                            <div class="matchInfoBox">周五 003 欧冠</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor2 flexCenterCenter">比分</div>
                            <div class="dataInfoBox">
                                <div class="dataBox">3:0</div>
                                <div class="scoreBox">12:40</div>
                            </div>
                        </div>
                    </div>
                    <div class="programmeList">
                        <div class="headerInfoBox flexCenterBetween">
                            <div class="matchInfoBox">周五 003 欧冠</div>
                            <div class="countryVsInfo flexCenter">
                                <div class="mainIcon">主</div>
                                <div class="countryName">圣保罗</div>
                                <div class="vsIcon">VS</div>
                                <div class="countryName">科林蒂安</div>
                                <img class="arrowImg" src="/templates/img/rightArrow.png" alt="">
                            </div>
                        </div>
                        <div class="detailInfoBox flexCenter">
                            <div class="leftTagBox styleColor3 flexCenterCenter">总进球</div>
                            <div class="dataInfoBox">
                                <div class="dataBox">2</div>
                                <div class="scoreBox">2:40</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="commonBtn">跟单</div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            articleInfo:{
                title: '',
                date: '',
                content: '',
                hasRecommend: 0,
                recommendGame: ''
            },
            showRecommendPop:false
            
        },
        mounted: function () {
            let id = $.request.queryString.id;
            this.init(id);
        },
        methods: {
            showRecommend(){
                this.showRecommendPop = true;
            },
            hideRecommend(){
                this.showRecommendPop = false;
            },
            init(id) {
                showloading();
                $.ajax('/article/getDetail?id=' + id, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        hideloading();
                        if (res.code === '0000') {
                            app.articleInfo = res.data;
                            $(".richTxtContent").html(res.data.content);
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        hideloading();
                        console.log(err);
                    }
                });
            },
        }
    })
</script>

</html>