
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>方案详情</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="programmeDetailContainer" id="webpage">
        <div class="programmeDetailContent">
            <div class="headerDataBox flexCenter">
                <div class="dataInfoBox flex1">
                    <div class="labelBox">方案金额</div>
                    <div class="dataBox">{{parseFloat(optionalInfo.optional.cost).toFixed(2)}}元</div>
                </div>
                <div class="dataInfoBox flex1">
                    <div class="labelBox">方案状态</div>
                    <div class="dataBox" v-if="optionalInfo.optional.status === 0">未发送</div>
                    <div class="dataBox" v-if="optionalInfo.optional.status === 1">已发送</div>
                    <div class="dataBox" v-if="optionalInfo.optional.status === 2">已投注</div>
                    <div class="dataBox" v-if="optionalInfo.optional.status === 3">已开奖</div>
                </div>
            </div>
            <div class="titleBoxWrap">
                <span>方案内容</span>
            </div>
            <div class="matchDetailInfoBox">
                <div class="headerBox flexCenter">
                    <div class="titleBox flex1">玩法</div>
                    <div class="titleBox flex1">您的选择</div>
                    <div class="titleBox flex1">赛果</div>
                    <div class="titleBox flex1">倍数</div>
                </div>
                <div v-for="match in optionalInfo.match">
                    <div class="matchCountryInfo flexCenterCenter">
                        <div class="matchInfoBox">{{match.match.round}} </div>
                        <div class="countryVsInfo flexCenter">
                            <div class="countryName">{{match.match.mainTeam}}</div>
                            <div class="vsIcon">VS</div>
                            <div class="countryName">{{match.match.clientTeam}}</div>
                        </div>
                    </div>
                    <table class="winloseScoreInfo" v-for="(optionalDetailList,key) in match.optionalDetail">
                        <tr>
                            <td class="scoreDetail">
                                {{key}}
                            </td>
                            <td class="scoreDetail">
                                <div>
                                    <div class="infoBox" v-for="optionalDetail in optionalDetailList">{{optionalDetail.content}}<span class="dataBox">{{optionalDetail.rate}}</span></div>
                                </div>
                            </td>
                            <td class="scoreDetail">
                                <div class="infoBox">{{match.match.totalScore}}</div>
                            </td>
                            <td class="scoreDetail">
                                <div class="infoBox">{{optionalInfo.optional.times}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tipsContentBox">
                <div>{{optionalInfo.optional.name}}，{{optionalInfo.optional.game}}</div>
            </div>
        </div>
        <div class="uploadImgListsWrap flexCenter">
            <div class="uploadImgBox">
                <img class="imgBox" src="ctx + optionalInfo.optional.lotteryImg" alt="" v-if="null != optionalInfo.optional.lotteryImg">
                <img class="imgBox" src="ctx + optionalInfo.optional.lotteryImg2" alt="" v-if="null != optionalInfo.optional.lotteryImg2">
            </div>
        </div>
        <div class="footerFixedBtnLists flexCenterBetween">
            <div class="btnBox sureBtn" style="width:100%" @click="sendMessage" v-if="optionalInfo.optional.status === 0">发送给店长</div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<!-- <script type="text/javascript">
    // 初始化
    var vConsole = new VConsole();
</script> -->
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            optionalInfo: {
                match: [],
                optional: {
                    cost: "0"
                }
            },
            ctx: '',
            optionalId: 0,
        },
        mounted: function () {
            let that = this;
            that.optionalId = $.request.queryString.id;
            that.loadData();
            that.ctx = window.localStorage.getItem("ctx");
        },
        methods: {
            loadData(){
                let that = this;
                showloading();
                $.ajax('/private/optional/getOptionalDetailById?optionalId=' + that.optionalId, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        hideloading();
                        if (res.code === '0000') {
                            that.optionalInfo = res.data;
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        hideloading();
                        console.log(err);
                    }
                });
            },
            sendMessage(){
                let that = this;
                $.ajax('/private/optional/sendMessage', {
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        optionalId: that.optionalId,
                        noteTime: dateFormat('YYYY-mm-dd HH:MM:SS',new Date())
                    }),
                    success: res => {
                        if(res.code === '0000'){
                            showToast("发送成功");
                            window.location.href = '/private/leave_message'
                        }else{
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        console.log(err)
                    }
                })
            }
        }
    })
</script>

</html>