
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>保存的方案</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script> -->
</head>

<body>
    <div class="saveProgrammeContainer" id="webpage">
       <div class="programmeInfoLists" v-if="programmeLists.length > 0">
           <div class="programmeList flexCenterBetween" v-for="item in programmeLists" @click="goToDetail(item.id)">
               <div class="flex1 infoBox">
                   <div class="nameBox ellipsis1">{{item.name}}</div>
                   <div class="timeBox">{{item.optionDate}}</div>
               </div>
               <div class="moneyBox">{{item.cost}}元</div>
           </div>
       </div>
       <div class='noContentDefaultBox' v-else>
            <div class='defalutContent'>
                <img class="defaultImg" src='/templates/img/audit.png'/>
                <div class='tipsBox'>
                    <div>暂无信息</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/templates/js/common.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            programmeLists: [],
            pageNum: 1,
            pageSize: 10,
            none: false
        },
        mounted: function () {
            let that = this;
            $(window).on('scroll',function(){
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $('.programmeInfoLists').height();
                var windowHeight = $(this).height();
                if(Math.abs(scrollTop + windowHeight -  scrollHeight) <= 1){
                    that.scrollBottom();
                }
            });
            that.loadData();
        },
        methods: {
            loadData(){
                showloading();
                $.ajax('/private/optional/getList?pageIndex=' + this.pageNum + '&pageSize=' + this.pageSize, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        hideloading();
                        if (res.code === '0000') {
                            let lists = res.data;
                            if(lists.length === 0){
                                app.none = true;
                            }else {
                                for (let i in lists) {
                                    app.programmeLists.push(lists[i]);
                                }
                            }
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        hideloading();
                        console.log(err);
                    }
                });
            },
            scrollBottom(){
                if(this.none){
                    showToast('没有更多了');
                }else{
                    this.pageNum++;
                    this.loadData();
                }
            },
            goToDetail(id){
                window.location.href = "/private/programme_detail?id=" + id;
            }
        }
    })
</script>

</html>