<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>比分</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/weui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/css/style.css" />
    <script type="text/javascript" src="/templates/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/templates/js/common.js"></script>
    <script type="text/javascript" src="/templates/js/weui.min.js"></script>
</head>

<body>
    <div class="page tabbar js_show" id="webpage" v-cloak>
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <div class="weui_tab_bd">
                    <div class="matchScoreContainer flexCenterBetween">
                        <div class="headerTimeTypeSort flexCenterBetween">
                            <div class="timeSortBox flexCenterAround" @click="selectWarrantyDate()">
                                <img class="arrowImgBox" src="/templates/img/left_arrow.png" alt="">
                                <div class="flex1 flexCenterCenter">
                                    <img class="timeIcon" src="/templates/img/timeIcon.png" alt="">
                                    <div class="timeBox">{{selectedDate}}</div>
                                </div>
                                <img class="arrowImgBox" src="/templates/img/right_arrow.png" alt="">
                            </div>
                            <div class="typeSortBox flexCenter" @click="showSortLists">
                                <img class="sortIcon" src="/templates/img/sortIcon.png" alt="">
                                <div class="dataBox">筛选</div>
                            </div>
                        </div>
                        <div class="scoreDetailInfoLists flex1">
                            <div v-for="item in scoreDetailInfoLists">
                                <div class="scoreDetailList" v-if="item.visible">
                                    <div class="headerInfo flexCenterBetween">
                                        <div class="nameBox">{{item.round}} {{item.match}}</div>
                                        <div class="timeBox">{{item.matchTime}}</div>
                                    </div>
                                    <div class="detailInfoList flexCenter">
                                        <div class="scoreInfoWrap">
                                            <div class="scoreInfo flexCenterBetween flex1">
                                                <div class="countryInfoBox flexCenter">
                                                    <img class="countryImg" src="/templates/img/mineIcon2.png" alt="">
                                                    <div class="countryName">{{item.mainTeam}}<span class="tipsBox"></span></div>
                                                </div>
                                                <div class="scoreBox flexCenter">
                                                    <div class="loseScoreBox">{{item.halfScore ? item.halfScore.split('-')[0] : ''}}</div>
                                                    <div class="winScoreBox">{{item.totalScore ? item.totalScore.split('-')[0] : ''}}</div>
                                                </div>
                                            </div>
                                            <div class="scoreInfo flexCenterBetween flex1">
                                                <div class="countryInfoBox flexCenter">
                                                    <img class="countryImg" src="/templates/img/mineIcon2.png" alt="">
                                                    <div class="countryName">{{item.clientTeam}}<span class="tipsBox"></span></div>
                                                </div>
                                                <div class="scoreBox flexCenter">
                                                    <div class="loseScoreBox">{{item.halfScore ? item.halfScore.split('-')[1] : ''}}</div>
                                                    <div class="winScoreBox">{{item.totalScore ? item.totalScore.split('-')[0] : ''}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="coutLineBox"></div>
                                        <div class="matchScoreNumBox">{{item.status}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-tabbar">
                    <a href="/index" class="weui-tabbar__item">
                        <span style="display: inline-block;position: relative;">
                            <img src="/templates/img/tab/tabIcon_1_1.png" alt="" class="weui-tabbar__icon">
                            <!-- <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span> -->
                        </span>
                        <p class="weui-tabbar__label">首页</p>
                    </a>
                    <a href="/scheme" class="weui-tabbar__item">
                        <img src="/templates/img/tab/tabIcon_2_1.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">自选方案</p>
                    </a>
                    <a href="/score" class="weui-tabbar__item weui-bar__item_on">
                        <img src="/templates/img/tab/tabIcon_3_2.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">比分</p>
                    </a>
                    <a href="/mine" class="weui-tabbar__item ">
                        <img src="/templates/img/tab/tabIcon_4_1.png" alt="" class="weui-tabbar__icon">
                        <p class="weui-tabbar__label">我的</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="maskBox" v-if="sortListsFlag" @click="hideSortLists"></div>
        <!--筛选-->
        <div class="showTypeSortLists flexCenterBetween" v-if="sortListsFlag">
            <div class="sortHeaderBox flexCenterBetween">
                <div class="typeSortBox flexCenter">
                    <img class="sortIcon" src="/templates/img/sortIcon.png" alt="">
                    <div class="dataBox">筛选</div>
                </div>
            </div>
            <div class="typeSortLists flex1 flexCenter">
                <div class="sortBox" v-for="item in categoryList" :class="{ 'current' :  item.selected }" @click="selectMatch(item)">{{item.name}}</div>
            </div>                  
            <div class="footerFixedBtnLists flexCenterBetween">
                <div class="btnBox cancleBtn" @click="hideSortLists">取消</div>
                <div class="btnBox sureBtn" @click="matchSelectedOk()">筛好了</div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- <script type="text/javascript">
    // 初始化
    var vConsole = new VConsole();
</script> -->
<script type="text/javascript">
    var app = new Vue({
        el: '#webpage',
        data: {
            sortListsFlag:false,
            scoreDetailInfoLists:[],
            selectedDate: dateFormat('YYYY-mm-dd',new Date()),
            categoryList: []
        },
        mounted: function () {
            this.init()
        },
        methods: {
            hideSortLists(){
                this.sortListsFlag = false;
            },
            showSortLists(){
                this.sortListsFlag = true;
            },
            selectMatch(item){
                if(item.selected){
                    item.selected = false;
                }else{
                    item.selected = true;
                }
            },
            matchSelectedOk(){
                let selectedCategory = [];
                this.categoryList.forEach(function(item) {
                    if(item.selected){
                        selectedCategory.push(item.name);
                    }
                });
                this.scoreDetailInfoLists.forEach(function (item) {
                    item.visible = selectedCategory.includes(item.match);
                    app.hideSortLists();
                })
            },
            selectWarrantyDate(){
                let that = this;
                weui.datePicker({
                    start: 1990,
                    defaultValue: that.selectedDate.split('-'),
                    onConfirm: function (result) {
                        that.selectedDate = result.join().replace(/,/g,'-')
                        that.init();
                    },
                });
            },
            init(){
                showloading();
                $.ajax('/match/list?matchTime=' + this.selectedDate, {
                    type: 'GET',
                    contentType: 'application/json',
                    success: res => {
                        // 隐藏加载中
                        hideloading();
                        if (res.code === '0000') {
                            let categoryInserted = [];
                            app.scoreDetailInfoLists = res.data;
                            app.categoryList = [];
                            app.scoreDetailInfoLists.forEach(function (item) {
                                if(!categoryInserted.includes(item.match)){
                                    app.categoryList.push({name:item.match,selected:true});
                                    categoryInserted.push(item.match);
                                }
                                item.visible = true;
                            })
                        } else {
                            showToast(res.message);
                        }
                    },
                    error: err => {
                        // 隐藏加载中
                        hideloading();
                        console.log(err);
                    }
                });
            }
        }
    })
</script>
</html>